<h1>About Us</h1>

<hr>

<h2>We are a group of activists who believe the news cycle is backwards</h2>

<p>
  The mainstream media encourages us to read news stories and dig into what
  Congress is doing as an afterthought. This approach doesn't make sense. We should
  see what Congress is doing and then learn more via the media.
</p>

<p>
  In this way, we
  go straight to the source instead of filtering events through media. Because
  we'll better be able to see what's going on in Congress, as a side effect, we
  should see more pressure on media to cover topics important to us.
</p>

<hr>
  <p>
    This site uses the <%= link_to("Sunlight Foundation API", "https://sunlightfoundation.com/api/") %>
    and the <%= link_to("Google News RSS Feed", "https://news.google.com") %>.
  </p>

  <p>
    Contributions welcome in <%= link_to("the source", "https://github.com/srt32/congress") %>.
  </p>
<hr>
